@import url('https://fonts.googleapis.com/css?family=Spectral+SC:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

.header {
  border-radius: 0px;
  height: 500px;
  background: #02111b;
  margin: 0px;
}

.header-image {
  height: 200px;
  width: 200px;
  text-align: center;
}

.whyme {
  min-height: 500px;
  background: #3f4045;
  border-radius: 0px;
  margin: 0px;
}

.big-icon {
  font-size: 95px !important;
}

.big-icon-text {
  font-size: 50px !important;
}

.big-card {
  height: 400px;
}

.testimonials {
  min-height: 500px;
  background: #30292F;
  border-radius: 0px;
  margin: 0px;
}

.clients {
  min-height: 300px;
  background: #5D737E;
  border-radius: 0px;
  margin: 0px;
}

.font-1 {
  font-family: 'Spectral SC', sans-serif;
}

.font-2 {
  font-family: 'Lato', sans-serif;
}
